<!-- Frequency time tabs -->
<tabset class="box-chart-usage" vertical="true">
  <tab ng-repeat="frequency in ctrlChart.frequencies" heading="{{frequency.label}}" active="frequency.active" disabled="frequency.disabled" select="ctrlChart.changeFrequency(frequency.type)"></tab>
</tabset>

<!-- Message to the User no Chart - No data -->
<div ng-if="!ctrlChart.hasData()" class="row chart-empty">
  <div class="title col-md-6 col-centered text-center chart-message">{{ctrlChart.messages.empty}}</div>
</div>

<!-- Chart with electricity data -->
<div ng-if="ctrlChart.hasData()">
  <!-- Chart subcomponent -->
  <div google-chart chart="data" ng-hide="isLoading" id="chart-usage" class="usageChart"></div>
  <!-- Period selction subcomponent -->
  <span>
    <button type="button" id="chart-usage-btn-arrow-left" class="btn btn-transparent btn-arrow btn-arrow-left" ng-show="usageChartData.showControl('previous')" ng-click="changePeriod(usageChartData.period('previous'))" >
      <span class="glyphicon glyphicon-chevron-left"></span>
    </button>
    <button type="button" id="chart-usage-btn-arrow-right" class="btn btn-transparent btn-arrow btn-arrow-right" ng-show="usageChartData.showControl('next')" ng-click="changePeriod(usageChartData.period('next'))">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </button>
  </span>
</div>

<pre class="debug">
  <span><b>hasData:</b> {{ctrlChart.hasData()}}</span>
  <span><b>ctrlChart:</b> {{ctrlChart.electricity | json}}</span>
</pre>

