<div class="row detailed-chart">

  <div class="col-sm-4">
    <div class="chart-container">

      <!-- Spniner - With no data and is loading -->
      <div ng-if="!chart.hasData() && !chart.metersLoaded" class="row chart-empty">
        <div class="title col-md-12 col-centered text-center chart-message"><i class="fa fa-circle-o-notch fa-spin fa-2x nw-icon-loading nw-icon"></i></div>
      </div>

      <div ng-if="chart.hasData() && !meterSelected">
        <div google-chart chart="chart.categoriesChart" on-select="onSelect(selectedItem, chart.categoriesChart.data)" class="categoriesChart"></div>
      </div>

    </div>
  </div>

  <div class="col-sm-8">
    <h4 class="title state-title"><small class="date" dir="ltr">{{ chart.dateRange }}</small></h4>

    <!-- Form of filters -->
    <form name="formChartFilters">
      <div>
        <input type="text" ng-init="startDate=1370034000" ng-model="startDate" ng-change="chart.getData()"/> start date (unix timestamp)
      </div>
      <div>
        <input type="text" ng-init="endDate=1433106000" ng-model="endDate" ng-change="chart.getData()"/> end date (unix timestamp)
      </div>
      <div>
        <input type="text" ng-init="frequency=2" ng-model="frequency" ng-change="chart.getData()"/> frequency (1: year, month, day, hour, ... 5: minutes)
      </div>
      <div>
        <input type="text" ng-init="siteCategory=3" ng-model="siteCategory" ng-change="chart.getData()"/> site category
      </div>
      <div>
        <input type="text" ng-init="meterCategory=100" ng-model="meterCategory" ng-change="chart.getData()"/> meter category
      </div>
    </form>

    <!-- Button to add comparation chart -->
    <div ng-if="chart.showExtraChartButton">
      <button ng-click="chart.hasExtraChart = !chart.hasExtraChart">hasExtraChart: {{!!chart.hasExtraChart}} </button>
    </div>

    <chart-electricity-compare electricity="chart.electricity" compareCollection="chart.compareCollection" options="chart.options"></chart-electricity-compare>
  </div>

</div>
