<div class="row detailed-chart">

  <div class="col-sm-4">
    <div class="chart-container">

      <!-- Spniner - With no data and is loading -->
      <div ng-if="!chart.hasData() && !chart.metersLoaded" class="row chart-empty">
        <div class="title col-md-12 col-centered text-center chart-message"><i class="fa fa-circle-o-notch fa-spin fa-2x nw-icon-loading nw-icon"></i></div>
      </div>

      <div ng-if="chart.hasData() && !meterSelected">
        <div google-chart chart="chart.categoriesChart" on-select="onSelect(selectedItem, chart.categoriesChart.data)" class="categoriesChart"></div>
      </div>

    </div>
  </div>

  <div class="col-sm-8">
    <h4 class="title state-title"><small class="date" dir="ltr">{{ chart.dateRange }}</small></h4>
    <chart-electricity-compare electricity="chart.electricity" compareWith="" options=""></chart-electricity-compare>   
  </div>

</div>
