<span><i class="icon-options"></i></span>
<div ng-show="meterSelected" class="meter-details">
  <div><b>שם: </b>{{meterSelected.label}}</div>
  <div><b>מס׳ חוזה: </b>{{meterSelected.contract}}</div>
  <div><b>מקום: </b>{{meterSelected.place_description}}</div>
  <div><b>כתובת: </b>{{meterSelected.place_address}}</div>
  <div><b>מס׳ סידורי: </b>{{meterSelected.meter_serial}}</div>
  <div><b>קוד מונה: </b>{{meterSelected.meter_code}}</div>
</div>

<div ng-if="categoriesChart.data">
  <div google-chart chart="categoriesChart" on-select="onSelect(selectedItem, categoriesChart.data)" class="categoriesChart"></div>
</div>

<div ng-if="!categoriesChart.data" class="chart-empty">
  <div class="title col-md-6 col-centered text-center chart-message">{{categoriesChart.messages.empty}}</div>
</div>
