<span class="menu-buttom glyphicon glyphicon-th-list" aria-hidden="true"></span>
<h3 class="menu-title">NegaWatt</h3>
<span class="menu-separator"></span>
<div ng-controller="AccessCtrl" class="menu-account">
  <img src="../../images/photo.png" alt=""/><span> שלום,   {{ user.label }} </span> <a ng-click="logout()">  התנתק </a>
</div>
<span class="menu-separator"></span>
<span class="menu-timedate">{{timedate.today | amDateFormat: 'YYYY MMMM DD'}}</span>
<span class="menu-separator"></span>
<span class="menu-timedate">{{timedate.now | amDateFormat: 'H:mm'}}</span>

<div class="menu-logo">
  <a ng-click="reloadDashboard()" href="">
    <img ng-src="{{ account.logo.styles.thumbnail }}" alt=""/>
    <h4> {{ account.label }} </h4>
  </a>
</div>
<ui-view></ui-view>
