<div class="dashboard-menu">
  <span class="menu-buttom glyphicon glyphicon-th-list" aria-hidden="true"></span>
  <h3 class="menu-title">NegaWatt</h3>
  <span class="menu-separator"></span>
  <div class="menu-home">
    <a ng-click="reloadDashboard()" href="">
      <img src="../../images/icon-home.png" alt=""/>
    </a>
  </div>
  <span class="menu-separator"></span>
  <div ng-controller="AccessCtrl" class="menu-account">
    <img class="menu-account-photo" src="../../images/photo.png" alt=""/><span> שלום,   {{ TopMenuCtrl.user.label }} </span>
    <img class="menu-account-logout" src="../../images/icon-arrow.png" alt=""/>
    <a ng-click="logout()">  התנתק </a>
  </div>
  <span class="menu-separator"></span>
  <span class="menu-timedate">{{TopMenuCtrl.timedate.today | amDateFormat: 'YYYY MMMM DD'}}</span>
  <span class="menu-separator"></span>
  <span class="menu-timedate">{{TopMenuCtrl.timedate.now | amDateFormat: 'H:mm'}}</span>

  <div class="menu-logo">
    <img ng-src="{{ TopMenuCtrl.account.logo.styles.thumbnail }}" alt=""/>
    <h4> {{ TopMenuCtrl.account.label }} </h4>
  </div>
</div>
<ui-view></ui-view>
