// Alerts
div.alert-container {
  z-index: 10;
  position: absolute;
  top: 72px;
  left: 5px;
  width: 682px;
  direction: rtl;

  div.alert-default {
    background-color: white !important;
  }
}


