#wrapper.v2 {
  padding-top: 80px;

  .panel.tabs {
    // Merge the top border with the nav tabs bottom border.
    margin-top: -1px;
  }

  .nav-tabs {
    margin: 0 4px;

    li {
      cursor: pointer;
    }
  }

  chart-detailed {
    // To allow usage-chart overlap the pie, put them inside a 'relative' div.
    .detailed-chart {
      position: relative;
      height: 350px;
    }

    // Each chart must be inside an 'absolute' div.
    // Move pie chart to the right, and above usage-chart.
    .pie-chart-container {
      position: absolute;
      right: -12%;
      top: 50px;
      z-index: 10;
    }

    // Stick usage chart to the left and a little to the top.
    // Z-index below the pie, but over other elements.
    .usage-chart-container {
      position: absolute;
      left: 0px;
      top: -10%;
      z-index: 5;
    }

    chart-pie-compare {
      // Position pie chart 'loading' spinner
      .chart-empty {
        width: 500px;
        margin-top: 100px;
      }
    }

    chart-electricity-compare {
      // Position electricity chart 'loading' spinner
      .chart-empty {
        height: 400px;
      }
    }

  }

  chart-detailed-date-picker {
    // Put input controls above usage-chart.
    .input-group {
      z-index: 20;
    }

    .form-control {
      padding: 6px;
    }
  }

  #messages .panel-group {
    margin: 0 0 0 7px;

    .panel-heading {
      padding-left: 40px;
    }

    p {
      padding-right: 20px;
    }
  }

  button.clear-selection {
    font-size: 75%;
    padding: 1px 2px;
  }

  .tree {
    padding-right: 0;
    margin-top: 10px;

    ol {
      padding: 0 15px 0 0;

      .tree-level-middle {
        margin: 0;
      }
    }

    ol.meters {
      border: 1px solid #ccc;
      padding: 10px 10px 10px 0;
      margin-bottom: 20px;

      .category-labels {
        display: inline;
      }
    }

    &.panel-body {
      padding-right: 0;
    }

    .tree-level-top {
      margin: 0;

      img {
        right: auto;
      }
    }

    .label {
      margin-right: 1px;
      font-size: 70%;
    }

    label {
      display: inline;

      span {
        margin-left: 5px;
      }

      img {
        height: 23px;
      }
    }

    &.by-category .meter .category-labels {
      display: none;
    }

    &.by-site .meter .label.site {
      display: none;
    }

    label span {
      margin-right: 10px;
    }

    .meter {
      // Don't wrap long meter names
      overflow: hidden;
      white-space: nowrap;
    }
  }

}
