#wrapper.v2 {
  background: #F1F3FA;
  padding-top: 67px;

  #messages .panel-group {
    margin: 7px 0 0 7px;

    .panel-heading {
      padding-left: 40px;
    }

    p {
      padding-right: 20px;
    }
  }
}
