#wrapper.v2 {
  background: #F1F3FA;
  padding-top: 80px;

  .panel.tabs {
    // Merge the top border with the nav tabs bottom border.
    margin-top: -1px;
  }

  .nav-tabs {
    margin: 0 4px;

    li {
      cursor: pointer;
    }
  }

  #messages .panel-group {
    margin: 0 0 0 7px;

    .panel-heading {
      padding-left: 40px;
    }

    p {
      padding-right: 20px;
    }
  }

  button.clear-selection {
    font-size: 75%;
    padding: 1px 2px;
  }

  .tree {
    padding-right: 0;
    margin-top: 10px;

    ol {
      padding: 0 15px 0 0;

      .tree-level-middle {
        margin: 0;

        span {
          margin-right: 10px;
        }
      }
    }

    ol.meters {
      border: 1px solid #ccc;
      padding: 10px 10px 10px 0;
      margin-bottom: 20px;

      .category-labels {
        display: inline;
      }
    }

    &.panel-body {
      padding-right: 0;
    }

    .tree-level-top {
      margin: 0;

      img {
        right: auto;
      }
    }

    .label {
      margin-right: 1px;
      font-size: 70%;
    }

    label {
      display: inline;

      span {
        margin-left: 5px;
      }

      img {
        height: 23px;
      }
    }

    &.by-category .meter .category-labels {
      display: none;
    }

    &.by-site .meter .label.site {
      display: none;
    }
  }

}
