// Dashboard view.
#map {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}


#dashboard-controls {
  .dashboard-menu {
    font-family: Alef, 'Noto Serif', serif;
    background-color: #353434;
    position: fixed;
    z-index: 10;
    height: 62px;
    width: auto;
    top: 5px;
    right: 0;
    left: 5px;
    font-size: 12px;

    * {
      display: inline-block;
      margin-top: 0;
      margin-bottom: 0;
      line-height: 62px;
      vertical-align: middle;
      height: 100%;
      color: white;
    }

    .menu-separator {
      border-left: 1px solid white;
      height: 35%;
      width: 1px;
    }

    .menu-buttom {
      padding-right: 10px;
    }

    .menu-title {
      width: 190px;
      text-align: center;
      font-size: 24px;
    }

    .menu-account {
      width: 250px;
      padding-right: 15px;

      img.menu-account-photo {
        width: 33px;
        height: 33px;
        margin-left: 5px;
      }

      img.menu-account-logout {
        width: auto;
        height: auto;
        margin: 0;
      }

      span {
        width: auto;
        margin-left: 20px;

      }

    }

    .menu-messages {
      padding-right: 25px;

      img {
        width: 22px;
        height: 22px;
        margin-left: 5px;
      }

      span {
        width: 110px;
      }

    }

    .menu-logo {
      float: left;
      margin-left: 35px;

      img {
        margin-top: 11px;
      }

      h4 {
        margin-right: 10px;
        margin-top: -11px;
      }

    }

    .menu-home {
      img {
        width: auto;
        height: auto;
        margin: 0 10px 4px;
      }
    }
  }

  .dashboard-controls-container {
    height: 100%;
    width: 510px;
    top: 70px;
    bottom: 235px;
    z-index: 5;
    position: fixed;

    .dashboard-controls {
      position: fixed;
      background-color: #ffffff;
      z-index: 10;
      margin: 2px;
      padding: 9px 0 9px;

      .icon-options {
        background-image: url('../images/option.png');
        width: 26px;
        height: 26px;
        position: fixed;
        z-index: 20;
      }

      .title {
        font-size: large;
        font-weight: bold;
        padding-right: 20px;
      }

      &.dashboard-controls-col {
        width: 250px;
        margin-left: 3px;
      }

      &.dashboard-controls-row {
        width: 505px;
      }

      &.dashboard-messages {
        top: inherit;
        bottom: 235px;
        right: 255px;
        overflow-y: scroll;
        p {
          padding-right: 20px;
        }
      }

      &.dashboard-categories {
        top: inherit;
        right: 0;
        bottom: 420px;

        overflow-y: scroll;
      }

      &.dashboard-details {
        right: 0;
        bottom: 235px;
        height: 180px;

        .meter-details {
          padding-right: 30px;
          padding-top: 10px;
        }

        .categoriesChart {
          width: 250px;
          height: 150px;
        }
      }

      &.dashboard-usage {
        right: 0;
        bottom: 10px;
        padding: 0;
        margin-left: 20px;
        height: 220px;

        // Tabs
        ul.nav {
          height: inherit;
          position: fixed;
          right: 502px;
          background-color: #93928E;
          padding: 0;
          border: 0;

          li  {
            a  {
              margin: 0;
              border: 0;
              border-top-left-radius: 0;
              border-top-right-radius: 0;
              color: #ffffff;
            }

            &.active > a, a:hover {
              color: #93928E;
              background-color: #ffffff;
            }
          }
        }

      }

    }
  }

}

// Necesary to apply the dynamic css.
.usageChart {
  border: 1px solid white;
  width: 510px;
  height: 220px;
}
