#dashboard-controls {
  .dashboard-controls-container {
    height: 100%;
    width: 510px;
    top: 70px;
    bottom: 235px;
    z-index: 5;
    position: fixed;

    .dashboard-controls {
      position: fixed;
      background-color: #ffffff;
      z-index: 10;
      margin: 2px;
      padding: 9px 0 9px;

      .icon-options {
        background-image: url('../images/option.png');
        width: 26px;
        height: 26px;
        position: fixed;
        z-index: 20;
      }

      .btn-arrow {
        width: 30px;
        height: 30px;
        position: absolute;
        top: 0px;
        z-index: 25;

        .glyphicon {
          left: 5px;
        }

        &.btn-transparent {
          border-radius: 50%;
        }

        &.btn-arrow-left {
          left: 50px;
        }

        &.btn-arrow-right {
          right: 65px;
        }
      }

      .title {
        font-size: large;
        font-weight: bold;
        padding-right: 20px;
      }

      &.dashboard-controls-col {
        width: 250px;
        margin-left: 3px;
      }

      &.dashboard-controls-row {
        width: 505px;
      }

      &.dashboard-messages {
        top: inherit;
        bottom: 235px;
        right: 255px;
        overflow-y: scroll;
        p {
          padding-right: 20px;
        }
      }

      &.dashboard-categories {
        top: inherit;
        right: 0;
        bottom: 420px;

        overflow-y: scroll;
      }

      &.dashboard-details {
        right: 0;
        bottom: 235px;
        height: 180px;

        .meter-details {
          padding-right: 30px;
          padding-top: 10px;
        }

        .categoriesChart {
          width: 250px;
          height: 150px;
        }
      }

      &.dashboard-usage {
        right: 0;
        bottom: 10px;
        padding: 0;
        margin-left: 20px;
        height: 220px;

        // Tabs
        ul.nav {
          height: inherit;
          position: fixed;
          right: 502px;
          background-color: #93928E;
          padding: 0;
          border: 0;

          li  {
            a  {
              margin: 0;
              border: 0;
              border-top-left-radius: 0;
              border-top-right-radius: 0;
              color: #ffffff;
            }

            &.active > a, a:hover {
              color: #93928E;
              background-color: #ffffff;
            }
          }
        }

      }

    }
  }

}

// Necesary to apply the dynamic css.
.usageChart {
  border: 1px solid white;
  width: 510px;
  height: 220px;
}
