// Login view.
#login-form {
  position: fixed;
  background-color: #ffffff;
  z-index: 10;
  height: 375px;
  width: 330px;
  top: 19%;
  left: 35%;
  border: 1px solid black;
}

.signin-body .container {
  width: 300px;
}

.error {
  color: red;
}
