.menu-timedate, .menu-weather {
  padding: 0 10px 0 10px;

  .wi {
    font-size: 24px;
    padding-right: 10px;
  }
}

img.menu-account-photo {
  width: 33px;
  height: 33px;
  margin-left: 5px;
  border-radius: 50%;
}

