// Messages
div#messages{
  .accordion-toggle:hover, .accordion-toggle:active, .accordion-toggle:visited, .accordion-toggle:focus {
    text-decoration: initial;
  }

  div.panel-group {
    margin: 7px 7px 20px;
  }

  .message-wrapper {
    position: relative;
  }

  div.panel .message-body {
    font-size: 12px;
  }

  .message-icon-caret {
    span {
      font-size: 1.5em;
      position: absolute;
    }
  }

  .message-text {
    width: 90%;
  }

  .message-badge {
    position: absolute;
    left: 10px;
    top: 10px;

    span {
      padding: 5px 8px;
      border-radius: 12px;
      color: white;
      background-color: #93928E;
    }

  }
}


