// Chart with data
.usageChart {
  border: 1px solid white;
  width: 100%;
  height: 100%;

  text {
    font-family: Alef;
  }
}

.col-centered{
  float: none;
  margin: 0 auto;
}

// Chart with data
.chart-empty {
  display: table;
  table-layout: fixed;
  height: 100%;

  .chart-message {
    display:table-cell;
    vertical-align:middle;
    text-align:center;
  }
}

// Tabs
.box-chart-usage {
  ul.nav.nav-tabs.nav-stacked {
    width: 43px;
    bottom: 12px;

    li {
      background-color: #93928E;
      height: 42px;
      float: right;
      width: inherit;
      margin-bottom: 0;

      a {
        width: inherit;
        height: 100%;
        font-size: 12px;
        text-align: center;
        padding: 13px 0;
      }
    }
  }
}


//  Directive
.chart-navigation {


  .btn-arrow {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0px;
    z-index: 25;

    .glyphicon {
      left: 5px;
    }

    &.btn-transparent {
      border-radius: 50%;
    }

    &.btn-arrow-left {
      left: 50px;
    }

    &.btn-arrow-right {
      right: 65px;
    }
  }
}
