$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html, body {
  height: 100%;
}

body {
  min-height: 100%;
  direction: rtl;
}

// Login view.
#login-form {
  position: fixed;
  background-color: #ffffff;
  z-index: 10;
  height: 375px;
  width: 330px;
  top: 19%;
  left: 35%;
  border: 1px solid black;
}

.signin-body .container {
  width: 300px;
}

// Dashboard view.
#map {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}


#dashboard-controls {
  .dashboard-menu {
    font-family: 'Noto Serif', serif;
    background-color: #353434;
    position: fixed;
    z-index: 10;
    height: 62px;
    width: auto;
    top: 5px;
    right: 0;
    left: 5px;
    font-size: 12px;

    * {
      display: inline-block;
      margin-top: 0;
      margin-bottom: 0;
      line-height: 62px;
      vertical-align: middle;
      height: 100%;
      color: white;
    }

    .menu-separator {
      border-left: 1px solid white;
      height: 35%;
      width: 1px;
    }

    .menu-buttom {
      padding-right: 10px;
    }

    .menu-title {
      width: 190px;
      text-align: center;
      font-size: 24px;
    }

    .menu-account {
      width: 250px;
      padding-right: 15px;

      img {
        width: 33px;
        height: 33px;
        margin-left: 5px;
      }

      span {
        width: 110px;
      }

    }

    .menu-messages {
      padding-right: 25px;

      img {
        width: 22px;
        height: 22px;
        margin-left: 5px;
      }

      span {
        width: 110px;
      }

    }

    .menu-logo {
      float: left;
      margin-left: 35px;

      img {
        margin-top: 11px;
      }

      h4 {
        margin-right: 10px;
        margin-top: -11px;
      }

    }

  }

  .dashboard-controls-container {
    height: 100%;
    width: 510px;
    top: 70px;
    bottom: 235px;
    z-index: 5;
    position: fixed;

    .dashboard-controls {
      position: fixed;
      background-color: #ffffff;
      z-index: 10;
      margin: 2px;

      &.dashboard-controls-col {
        width: 250px;
        margin-left: 3px;
      }

      &.dashboard-controls-row {
        width: 505px;
      }

      &.dashboard-messages {
        top: inherit;
        bottom: 235px;
        right: 255px;
      }

      &.dashboard-categories {
        top: inherit;
        right: 0;
        bottom: 420px;
      }
      &.dashboard-details {
        right: 0;
        bottom: 235px;
        height: 180px;
      }
      &.dashboard-usage {
        height: 220px;
        right: 0;
        bottom: 10px;
      }
    }
  }

}


.error {
  color: red;
}

// Login view.
#login-form {
  position: fixed;
  background-color: #ffffff;
  z-index: 10;
  height: 375px;
  width: 330px;
  top: 19%;
  left: 35%;
  border: 1px solid black;
}

.signin-body .container {
  width: 300px;
}
