$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import "login.scss";
@import "dashboard.scss";
@import "categories.scss";
@import "leaflet-directive.scss";
@import "loading.scss";
@import "menu.scss";
@import "usage-chart.scss";

// General styles.
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html, body {
  height: 100%;
}

body {
  min-height: 100%;
  direction: rtl;
  font-family: Alef;
}

.nw-icon {
  color: #3399A2;
}
