<div class="tree-level-bottom" ng-if="meters[meterId]">
  <label>
    <input ng-change="selectMeter(meterId, this)" ng-model="meters[meterId].selected" type="checkbox" ng-disabled="disableMeters" id="check-meter-{{meters[meterId].id}}"/>
    <span>{{ meters[meterId].label }}, {{ meters[meterId].place_address }}</span>
  </label>

  <div class="category-labels">
    <span ng-repeat="category in meters[meterId].meter_categories" class="label" style="background: {{ category.color || 'gray'}}">{{ category.name }}</span>
  </div>
  <span class="site label label-default">{{ sites[meters[meterId].site].label }}</span>
</div>