<div class="tree-level-bottom" ng-if="sensors[sensorId]">
  <label>
    <input ng-change="selectsensor(sensorId, this)" ng-model="sensors[sensorId].selected" type="checkbox" ng-disabled="disablesensors" id="check-sensor-{{sensors[sensorId].id}}"/>
    <span>{{ sensors[sensorId].label }}, {{ sensors[sensorId].place_address }}</span>
  </label>

  <div class="category-labels">
    <span class="label" style="background: {{ sensors[sensorId].sensor_type.color || 'gray'}}">{{ sensors[sensorId].sensor_type.label }}</span>
  </div>
  <span class="site label label-default">{{ sites[sensors[sensorId].site].label }}</span>
</div>