<chart-detailed-tabs></chart-detailed-tabs>

<div class="panel panel-default tabs ng-scope">
  <div class="panel-body">
    <!-- Original Chart -->
    <chart-detailed title="{{detailedChartCtrl.title}}" site-properties="detailedChartCtrl.siteProperties" categories="detailedChartCtrl.categories" account="detailedChartCtrl.account" has-extra-chart="detailedChartCtrl.hasExtraChart" is-compare-chart="false"></chart-detailed>
    <!-- Compare (extra) Chart -->
    <chart-detailed ng-if="detailedChartCtrl.hasExtraChart" site-properties="detailedChartCtrl.siteProperties" categories="detailedChartCtrl.categories" account="detailedChartCtrl.account" is-compare-chart="true"></chart-detailed>  </div>
</div>
