<chart-detailed electricity="vm.electricity" compare-dataset="" compare-with="vm.compareWith" date="123" categories="vm.categories" has-extra-chart="vm.hasExtraChart" show-extra-chart-button="true"></chart-detailed>

<chart-detailed ng-if="vm.hasExtraChart" electricity="vm.electricity" compare-dataset="" compare-with="vm.compareWith" date="123" categories="vm.categories"></chart-detailed>

<!-- Form to select the parameters to compare with electricity data -->
<form name="formCompareWith" ng-controller="ChartOptionsCtrl as extra">
  <label for="temperature">
    <input type="radio" ng-model="extra.compareWith" ng-change="extra.select()" value="temperature"> Temperature
  </label></br>
  <label>
    <input type="radio" ng-model="extra.compareWith" ng-change="extra.select()" value="occupancy"> Occupancy
  </label></br>
</form>
