<chart-detailed electricity="vm.electricity" date="123" categories="vm.categories" comparing="vm.comparing" show-comparation="true"></chart-detailed>

<chart-detailed ng-if="vm.comparing" electricity="vm.electricity" date="123"  categories="vm.categories" ></chart-detailed>

<form name="formCompareWith" ng-controller="ChartOptionsCtrl as options">
  <input type="radio" ng-model="options.compareWith" ng-change="options.select(this)" value="temperature">Temperature
  <input type="radio" ng-model="options.compareWith" ng-change="options.select(this)" value="occupancy">Occupancy
</form>
