<ul ui-tree class="tree">

    <li ng-repeat="site in sites" class="tree-level-top">
        <label>
            <input ng-change="toggleMetersByCategory(site.id)" ng-model="site.checked" type="checkbox" />
            <img ng-src="images/categories/{{ siteCategories[site.category].icon }}.png" />
            <span>{{ site.label }}</span>
        </label>

        <span class="label" style="background: {{ siteCategories[site.category].background }}">{{ siteCategories[site.category].label }}</span>

        <ol>
            <li ng-repeat="meterId in site.meters" class="tree-level-middle">
                <label>
                    <input ng-change="toggleMetersByCategory(meterId)" ng-model="meter.checked" type="checkbox" />

                    <span>{{ meters[meterId].label }}</span>
                </label>

                <span class="label" style="background: {{ meterCategories[meters[meterId].category].background }}">{{ meterCategories[meters[meterId].category].label }}</span>
            </li>
        </ol>
    </li>
</ul>