<div ng-model="propertyMeters" class="panel panel-default">
    <div class="panel-heading">מאפייני אתרים</div>
    <div class="panel-body">
        <ul class="tree">
            <li ng-repeat="meter in propertyMeters" class="meter property-meter tree-level-bottom">
                <label>
                    <input type="checkbox" ng-model="meter.selected" ng-change="selectTemperature(meter)" id="check-property-{{meter.id}}"/>
                    <span>{{meter.label}}</span>
                </label>
            </li>
        </ul>
    </div>
</div>