<div id="login-form">
  <div class="page-signin">
    <div class="signin-header">
      <section class="logo text-center">
        <h1>NegaWatt</h1>
      </section>
    </div>

    <div class="signin-body">
      <div class="container">
        <div class="form-container" ng-controller="AccessCtrl">
          <form class="form-horizontal" id="login" ng-submit="login(user)">
            <fieldset>
              <div class="form-group">
                <div class="input-group input-group-first">
                <span class="input-group-addon">
                    <span class="ti-email"></span>
                </span>
                  <input ng-model="user.username" ng-change="clear()" name="username" type="text" class="form-control input-lg" placeholder="משתמש" required>
                </div>
              </div>

              <div class="form-group">
                <div class="input-group">
                <span class="input-group-addon">
                    <span class="ti-lock"></span>
                </span>
                  <input ng-model="user.password" ng-change="clear()" name="password" type="password" class="form-control input-lg" placeholder="סיסמא" required>
                </div>
              </div>

              <div class="form-group">
                <input ng-disabled="!loginButtonEnabled || !user.username || !user.password" type="submit" class="btn btn-primary btn-lg btn-block text-center" id="submit" value="התחבר" />
              </div>

              <div class="divider divider-xl"></div>

              <div class="message error">
                <p ng-show="message.loginFailed">משתמש או סיסמא שגויה.</p>
                <p ng-show="message.noServerConnection">אין חיבור לשרת.</p>
                <p ng-show="message.generalError">{{ message.generalError }}</p>
              </div>

            </fieldset>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>
