<!-- Chart detailed directive -->
<div class="row">
  <h4 class="col-sm-8 title state-title"> {{ chart.title }} <small class="date" dir="ltr">{{ chart.dateRange }}</small></h4>
  <div class="col-sm-4 form-inline">

    <chart-detailed-date-picker reference-date="chart.referenceDate" show-compare-chart="chart.hasExtraChart" show-compare-chart-button="!chart.isCompareChart"></chart-detailed-date-picker>

  </div>
</div>

<div class="row detailed-chart">

  <chart-pie-compare summary="chart.summary" options="chart.pieOptions"></chart-pie-compare>

  <div class="usage-chart-container">

    <chart-electricity-compare electricity="chart.electricity" sensor-data="chart.sensorData" options="chart.options" summary="chart.summary"></chart-electricity-compare>

  </div>

  <div class="usage-normalization col-sm-8" ng-show="chart.normalizationFactors.length > 0">
    נירמול על-פי:
    <span ng-repeat="item in chart.normalizationFactors">
      <input ng-change="chart.selectNormalization(item)" ng-model="item.selected" type="checkbox" id="check-normalization-{{item.title}}" class="ng-pristine ng-valid ng-touched">
      {{ item.title }}
    </span>
  </div>

</div>
