<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" ng-click="tab = 'sites'">אתרים</a></li>
    <li><a data-toggle="tab" ng-click="tab = 'categories'">קטגוריות</a></li>
</ul>
<div class="panel panel-default tabs">
    <div class="map-panel-body">
        <button type="button" class="btn btn-default clear-selection" ng-click="metersMenuCtrl.clearAll()">
            <span class="glyphicon glyphicon-remove"></span>
            <span>איפוס בחירה</span>
        </button>

        <div ng-if="tab == 'sites'" ng-include="'views/dashboard/chart/tab.sites.html'"></div>
        <div ng-if="tab == 'categories'" ng-include="'views/dashboard/chart/tab.categories.html'"></div>
    </div>
</div>

