/* \f020 doesn't work in Safari. all shifted one down */
/* line 8, /home/andrei/core-admin-release/core-admin/source/stylesheets/dataTables.scss */
table.dataTable {
  margin: 0 auto;
  clear: both;
  width: 100%; }
  /* line 13, /home/andrei/core-admin-release/core-admin/source/stylesheets/dataTables.scss */
  table.dataTable thead th {
    padding-left: 10px;
    padding-right: 10px;
    height: 30px;
    line-height: 30px;
    font-weight: normal;
    color: #666666;
    cursor: pointer;
    *cursor: hand;
    font-size: 12px;
    font-weight: 600;
    text-shadow: 0 1px rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 0 1px 0px white inset;
    -moz-box-shadow: 0 1px 0px white inset;
    box-shadow: 0 1px 0px white inset; }
  /* line 28, /home/andrei/core-admin-release/core-admin/source/stylesheets/dataTables.scss */
  table.dataTable tfoot th {
    padding: 3px 18px 3px 10px;
    font-weight: 600; }
  /* line 33, /home/andrei/core-admin-release/core-admin/source/stylesheets/dataTables.scss */
  table.dataTable td {
    padding: 7px 11px; }
    /* line 35, /home/andrei/core-admin-release/core-admin/source/stylesheets/dataTables.scss */
    table.dataTable td.center, table.dataTable td.dataTables_empty {
      text-align: center; }
  /* line 40, /home/andrei/core-admin-release/core-admin/source/stylesheets/dataTables.scss */
  table.dataTable tbody tr td {
    border-left: 1px solid #eaebef; }
  /* line 44, /home/andrei/core-admin-release/core-admin/source/stylesheets/dataTables.scss */
  table.dataTable thead tr th {
    border-left: 1px solid #b5b7c3;
    border-bottom: 1px solid #b5b7c3;
    border-top: 1px solid #c3c5ce; }
  /* line 50, /home/andrei/core-admin-release/core-admin/source/stylesheets/dataTables.scss */
  table.dataTable tbody tr td:first-child {
    border-left: none; }
  /* line 54, /home/andrei/core-admin-release/core-admin/source/stylesheets/dataTables.scss */
  table.dataTable thead tr {
    background: #eaeaea;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZkZmRmZCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2VhZWFlYSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fdfdfd), color-stop(100%, #eaeaea));
    background-image: -webkit-linear-gradient(top, #fdfdfd, #eaeaea);
    background-image: -moz-linear-gradient(top, #fdfdfd, #eaeaea);
    background-image: -o-linear-gradient(top, #fdfdfd, #eaeaea);
    background-image: linear-gradient(top, #fdfdfd, #eaeaea); }
    /* line 57, /home/andrei/core-admin-release/core-admin/source/stylesheets/dataTables.scss */
    table.dataTable thead tr th:first-child {
      border-left: none; }
    /* line 60, /home/andrei/core-admin-release/core-admin/source/stylesheets/dataTables.scss */
    table.dataTable thead tr:first-child {
      margin: 0;
      padding: 0;
      border-top: none; }
  /* line 66, /home/andrei/core-admin-release/core-admin/source/stylesheets/dataTables.scss */
  table.dataTable tr {
    border-top: 1px solid #eaebef; }
    /* line 68, /home/andrei/core-admin-release/core-admin/source/stylesheets/dataTables.scss */
    table.dataTable tr.even {
      background-color: #F3F4F8; }

/* line 74, /home/andrei/core-admin-release/core-admin/source/stylesheets/dataTables.scss */
.dataTables_wrapper {
  position: relative;
  clear: both;
  *zoom: 1; }

/* line 80, /home/andrei/core-admin-release/core-admin/source/stylesheets/dataTables.scss */
.dataTables_length {
  float: right;
  margin: 0; }
  /* line 84, /home/andrei/core-admin-release/core-admin/source/stylesheets/dataTables.scss */
  .dataTables_length label {
    line-height: 61px;
    height: 61px;
    margin: 0; }
  /* line 90, /home/andrei/core-admin-release/core-admin/source/stylesheets/dataTables.scss */
  .dataTables_length select {
    width: auto; }
  /* line 94, /home/andrei/core-admin-release/core-admin/source/stylesheets/dataTables.scss */
  .dataTables_length div.selector {
    width: auto; }

/* line 99, /home/andrei/core-admin-release/core-admin/source/stylesheets/dataTables.scss */
.entries-per-page {
  float: left;
  margin: 0px 15px 0 0; }

/* line 104, /home/andrei/core-admin-release/core-admin/source/stylesheets/dataTables.scss */
.dataTables_filter {
  float: left;
  font-size: 11px;
  text-align: left;
  margin: 0;
  position: relative; }
  /* line 112, /home/andrei/core-admin-release/core-admin/source/stylesheets/dataTables.scss */
  .dataTables_filter label {
    line-height: 61px;
    height: 61px;
    margin-bottom: 0; }
  /* line 118, /home/andrei/core-admin-release/core-admin/source/stylesheets/dataTables.scss */
  .dataTables_filter label > span {
    display: block;
    float: left;
    padding-top: 1px; }
  /* line 123, /home/andrei/core-admin-release/core-admin/source/stylesheets/dataTables.scss */
  .dataTables_filter input[type=text] {
    height: auto;
    padding: 2px 20px 2px 7px;
    margin-left: 15px;
    margin-bottom: 0;
    width: 180px;
    background: #f9f9f9;
    border: 1px solid #d7d7d7; }

/* line 134, /home/andrei/core-admin-release/core-admin/source/stylesheets/dataTables.scss */
.dataTables_info {
  clear: both;
  float: left;
  padding: 10px 0; }

/* line 140, /home/andrei/core-admin-release/core-admin/source/stylesheets/dataTables.scss */
.table-footer {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  clear: both;
  padding: 8px 12px;
  height: 36px;
  font-size: 11px;
  color: #666;
  border-top: 1px solid #cdcdcd;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  background: #fdfdfd;
  background: #eaeaea;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZkZmRmZCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2VhZWFlYSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fdfdfd), color-stop(100%, #eaeaea));
  background-image: -webkit-linear-gradient(top, #fdfdfd, #eaeaea);
  background-image: -moz-linear-gradient(top, #fdfdfd, #eaeaea);
  background-image: -o-linear-gradient(top, #fdfdfd, #eaeaea);
  background-image: linear-gradient(top, #fdfdfd, #eaeaea); }

/* line 155, /home/andrei/core-admin-release/core-admin/source/stylesheets/dataTables.scss */
.table-header {
  border-bottom: 1px solid #eaebef;
  height: 61px;
  -webkit-box-shadow: 0 1px 0 white inset;
  -moz-box-shadow: 0 1px 0 white inset;
  box-shadow: 0 1px 0 white inset;
  clear: both;
  padding: 0 16px;
  font-size: 11px;
  color: #666;
  background: #eaeaea;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZkZmRmZCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2VhZWFlYSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fdfdfd), color-stop(100%, #eaeaea));
  background-image: -webkit-linear-gradient(top, #fdfdfd, #eaeaea);
  background-image: -moz-linear-gradient(top, #fdfdfd, #eaeaea);
  background-image: -o-linear-gradient(top, #fdfdfd, #eaeaea);
  background-image: linear-gradient(top, #fdfdfd, #eaeaea); }

/* line 166, /home/andrei/core-admin-release/core-admin/source/stylesheets/dataTables.scss */
.dataTables_paginate {
  float: right;
  margin-top: 7px; }

/* line 171, /home/andrei/core-admin-release/core-admin/source/stylesheets/dataTables.scss */
.paging_full_numbers {
  height: 22px;
  line-height: 22px; }
  /* line 176, /home/andrei/core-admin-release/core-admin/source/stylesheets/dataTables.scss */
  .paging_full_numbers a.paginate_button, .paging_full_numbers a.paginate_active {
    border-top: 1px solid #E2E2E2;
    border-left: 1px solid #C9C9C9;
    border-right: 1px solid #C9C9C9;
    border-bottom: 1px solid #AEAEAE;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    border-radius: 3px;
    padding: 4px 7px;
    margin: 0 3px;
    cursor: pointer;
    color: #666;
    font-weight: 600;
    text-shadow: 0 1px rgba(255, 255, 255, 0.5);
    font-size: 11px;
    -webkit-box-shadow: 0 1px 0 white inset;
    -moz-box-shadow: 0 1px 0 white inset;
    box-shadow: 0 1px 0 white inset; }
  /* line 195, /home/andrei/core-admin-release/core-admin/source/stylesheets/dataTables.scss */
  .paging_full_numbers a.paginate_button {
    background: #eaeaea;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZkZmRmZCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2VhZWFlYSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fdfdfd), color-stop(100%, #eaeaea));
    background-image: -webkit-linear-gradient(top, #fdfdfd, #eaeaea);
    background-image: -moz-linear-gradient(top, #fdfdfd, #eaeaea);
    background-image: -o-linear-gradient(top, #fdfdfd, #eaeaea);
    background-image: linear-gradient(top, #fdfdfd, #eaeaea); }
    /* line 198, /home/andrei/core-admin-release/core-admin/source/stylesheets/dataTables.scss */
    .paging_full_numbers a.paginate_button:hover {
      background: #eaeaea;
      background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YxZjFmMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2VhZWFlYSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
      background-size: 100%;
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f1f1f1), color-stop(100%, #eaeaea));
      background-image: -webkit-linear-gradient(top, #f1f1f1, #eaeaea);
      background-image: -moz-linear-gradient(top, #f1f1f1, #eaeaea);
      background-image: -o-linear-gradient(top, #f1f1f1, #eaeaea);
      background-image: linear-gradient(top, #f1f1f1, #eaeaea); }
  /* line 202, /home/andrei/core-admin-release/core-admin/source/stylesheets/dataTables.scss */
  .paging_full_numbers a.paginate_active, .paging_full_numbers a.paginate_button:active {
    border: 1px solid #AEAEAE;
    -webkit-box-shadow: 0 0 6px -1px rgba(0, 0, 0, 0.2) inset, 0 1px 0 white;
    -moz-box-shadow: 0 0 6px -1px rgba(0, 0, 0, 0.2) inset, 0 1px 0 white;
    box-shadow: 0 0 6px -1px rgba(0, 0, 0, 0.2) inset, 0 1px 0 white; }
  /* line 207, /home/andrei/core-admin-release/core-admin/source/stylesheets/dataTables.scss */
  .paging_full_numbers a.paginate_button_disabled {
    background: #eee;
    color: #c5c5c5;
    box-shadow: none;
    border: 1px solid #E2E2E2; }
    /* line 213, /home/andrei/core-admin-release/core-admin/source/stylesheets/dataTables.scss */
    .paging_full_numbers a.paginate_button_disabled:active, .paging_full_numbers a.paginate_button_disabled:hover {
      background: #eee;
      border: 1px solid #E2E2E2;
      box-shadow: none; }

/* line 225, /home/andrei/core-admin-release/core-admin/source/stylesheets/dataTables.scss */
.sorting, .sorting_asc, .sorting_desc {
  position: relative; }
  /* line 228, /home/andrei/core-admin-release/core-admin/source/stylesheets/dataTables.scss */
  .sorting > div, .sorting_asc > div, .sorting_desc > div {
    position: relative;
    height: 20px;
    line-height: 20px; }
    /* line 232, /home/andrei/core-admin-release/core-admin/source/stylesheets/dataTables.scss */
    .sorting > div:after, .sorting_asc > div:after, .sorting_desc > div:after {
      font-family: FontAwesome;
      font-weight: normal;
      font-style: normal;
      display: inline-block;
      text-decoration: inherit;
      position: absolute;
      width: 18px;
      height: 18px;
      pointer-events: none;
      text-align: center;
      line-height: 18px;
      font-size: 14px;
      color: #888;
      color: #666666;
      line-height: 14px;
      width: 16px;
      height: 16px;
      position: absolute;
      right: 3px;
      top: 3px; }

/* line 247, /home/andrei/core-admin-release/core-admin/source/stylesheets/dataTables.scss */
.sorting_asc, .sorting_desc {
  background: #f2f3f7;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y3ZjhmYyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2YyZjNmNyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f7f8fc), color-stop(100%, #f2f3f7));
  background-image: -webkit-linear-gradient(top, #f7f8fc, #f2f3f7);
  background-image: -moz-linear-gradient(top, #f7f8fc, #f2f3f7);
  background-image: -o-linear-gradient(top, #f7f8fc, #f2f3f7);
  background-image: linear-gradient(top, #f7f8fc, #f2f3f7); }

/* line 251, /home/andrei/core-admin-release/core-admin/source/stylesheets/dataTables.scss */
.sorting > div:after {
  content: "\f0dc"; }

/* line 255, /home/andrei/core-admin-release/core-admin/source/stylesheets/dataTables.scss */
.sorting_asc > div:after {
  content: "\f0de";
  top: 7px; }

/* line 260, /home/andrei/core-admin-release/core-admin/source/stylesheets/dataTables.scss */
.sorting_desc > div:after {
  content: "\f0dd";
  top: 1px; }

/* line 265, /home/andrei/core-admin-release/core-admin/source/stylesheets/dataTables.scss */
table.dataTable th:active {
  outline: none; }

/* line 269, /home/andrei/core-admin-release/core-admin/source/stylesheets/dataTables.scss */
.dataTables_scroll {
  clear: both; }

/* line 273, /home/andrei/core-admin-release/core-admin/source/stylesheets/dataTables.scss */
.dataTables_scrollBody {
  *margin-top: -1px;
  -webkit-overflow-scrolling: touch; }
