/* line 4, /home/andrei/core-admin-release/core-admin/source/stylesheets/scrollable.scss */
.scrollable::-webkit-scrollbar {
  height: 16px;
  width: 10px; }
/* line 9, /home/andrei/core-admin-release/core-admin/source/stylesheets/scrollable.scss */
.scrollable::-webkit-scrollbar-button:start:decrement, .scrollable::-webkit-scrollbar-button:end:increment {
  background-color: transparent;
  display: block;
  height: 0; }
/* line 15, /home/andrei/core-admin-release/core-admin/source/stylesheets/scrollable.scss */
.scrollable::-webkit-scrollbar-track {
  background-clip: padding-box;
  border: solid transparent;
  border-width: 0 0 0 4px; }
/* line 20, /home/andrei/core-admin-release/core-admin/source/stylesheets/scrollable.scss */
.scrollable::-webkit-scrollbar-track-piece {
  background-color: transparent;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0; }
/* line 24, /home/andrei/core-admin-release/core-admin/source/stylesheets/scrollable.scss */
.scrollable::-webkit-scrollbar:hover {
  background-color: #f3f3f3;
  border: 1px solid #dbdbdb; }
/* line 28, /home/andrei/core-admin-release/core-admin/source/stylesheets/scrollable.scss */
.scrollable::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border: solid transparent;
  border-width: 0;
  -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 0 rgba(0, 0, 0, 0.07);
  -moz-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 0 rgba(0, 0, 0, 0.07);
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 0 rgba(0, 0, 0, 0.07);
  background-clip: padding-box; }
  /* line 29, /home/andrei/core-admin-release/core-admin/source/stylesheets/scrollable.scss */
  .scrollable::-webkit-scrollbar-thumb:vertical, .scrollable::-webkit-scrollbar-thumb:horizontal {
    background-color: #c6c6c6;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0; }
  /* line 38, /home/andrei/core-admin-release/core-admin/source/stylesheets/scrollable.scss */
  .scrollable::-webkit-scrollbar-thumb:hover {
    background-color: #949494; }
  /* line 41, /home/andrei/core-admin-release/core-admin/source/stylesheets/scrollable.scss */
  .scrollable::-webkit-scrollbar-thumb:active {
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.35);
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.35); }
