/* line 56, /home/andrei/core-admin-release/core-admin/source/stylesheets/_arrow.scss */
.formError {
  position: relative;
  background: #202020;
  border: 1px solid #cccccc;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

/* line 72, /home/andrei/core-admin-release/core-admin/source/stylesheets/_arrow.scss */
.formError:after, .formError:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }

/* line 82, /home/andrei/core-admin-release/core-admin/source/stylesheets/_arrow.scss */
.formError:after {
  border-top-color: #202020;
  border-width: 7px;
  left: 7px; }

/* line 94, /home/andrei/core-admin-release/core-admin/source/stylesheets/_arrow.scss */
.formError:before {
  border-top-color: #cccccc;
  border-width: 8px;
  left: 6px; }

/* line 6, /home/andrei/core-admin-release/core-admin/source/stylesheets/validation_engine.scss */
.formError {
  z-index: 990;
  background: transparent;
  border: none; }
  /* line 10, /home/andrei/core-admin-release/core-admin/source/stylesheets/validation_engine.scss */
  .formError .formErrorContent {
    z-index: 991; }
  /* line 13, /home/andrei/core-admin-release/core-admin/source/stylesheets/validation_engine.scss */
  .formError .formErrorArrow {
    z-index: 996;
    display: none; }

/* line 19, /home/andrei/core-admin-release/core-admin/source/stylesheets/validation_engine.scss */
.ui-dialog .formError {
  z-index: 5000; }
  /* line 21, /home/andrei/core-admin-release/core-admin/source/stylesheets/validation_engine.scss */
  .ui-dialog .formError .formErrorContent {
    z-index: 5001; }
  /* line 24, /home/andrei/core-admin-release/core-admin/source/stylesheets/validation_engine.scss */
  .ui-dialog .formError .formErrorArrow {
    z-index: 5006; }

/* line 29, /home/andrei/core-admin-release/core-admin/source/stylesheets/validation_engine.scss */
.inputContainer {
  position: relative;
  float: left; }

/* line 34, /home/andrei/core-admin-release/core-admin/source/stylesheets/validation_engine.scss */
.formError {
  position: absolute;
  top: 300px;
  left: 300px;
  display: block;
  cursor: pointer;
  text-align: left; }
  /* line 41, /home/andrei/core-admin-release/core-admin/source/stylesheets/validation_engine.scss */
  .formError.inline {
    position: relative;
    top: 0;
    left: 0;
    display: inline-block; }

/* line 49, /home/andrei/core-admin-release/core-admin/source/stylesheets/validation_engine.scss */
.ajaxSubmit {
  padding: 20px;
  background: #55ea55;
  border: 1px solid #999;
  display: none; }

/* line 57, /home/andrei/core-admin-release/core-admin/source/stylesheets/validation_engine.scss */
.formError .formErrorContent {
  width: 100%;
  background: #202020;
  position: relative;
  color: #fff;
  min-width: 120px;
  font-size: 11px;
  padding: 4px 10px 4px 10px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px; }
/* line 67, /home/andrei/core-admin-release/core-admin/source/stylesheets/validation_engine.scss */
.formError.inline .formErrorContent {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0; }

/* line 74, /home/andrei/core-admin-release/core-admin/source/stylesheets/validation_engine.scss */
.greenPopup .formErrorContent {
  background: #33be40; }

/* line 78, /home/andrei/core-admin-release/core-admin/source/stylesheets/validation_engine.scss */
.blackPopup .formErrorContent {
  background: #393939;
  color: #FFF; }

/* line 83, /home/andrei/core-admin-release/core-admin/source/stylesheets/validation_engine.scss */
.formError .formErrorArrow {
  width: 15px;
  margin: -2px 0 0 13px;
  position: relative; }

/* line 90, /home/andrei/core-admin-release/core-admin/source/stylesheets/validation_engine.scss */
body[dir='rtl'] .formError .formErrorArrow, body.rtl .formError .formErrorArrow {
  margin: -2px 13px 0 0; }

/* line 96, /home/andrei/core-admin-release/core-admin/source/stylesheets/validation_engine.scss */
.formError .formErrorArrowBottom {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  margin: 0px 0 0 12px;
  top: 2px; }
/* line 104, /home/andrei/core-admin-release/core-admin/source/stylesheets/validation_engine.scss */
.formError .formErrorArrow div {
  border-left: 2px solid #ddd;
  border-right: 2px solid #ddd;
  box-shadow: 0 2px 3px #444;
  -moz-box-shadow: 0 2px 3px #444;
  -webkit-box-shadow: 0 2px 3px #444;
  -o-box-shadow: 0 2px 3px #444;
  font-size: 0px;
  height: 1px;
  background: #ee0101;
  margin: 0 auto;
  line-height: 0;
  font-size: 0;
  display: block; }
/* line 119, /home/andrei/core-admin-release/core-admin/source/stylesheets/validation_engine.scss */
.formError .formErrorArrowBottom div {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none; }

/* line 127, /home/andrei/core-admin-release/core-admin/source/stylesheets/validation_engine.scss */
.greenPopup .formErrorArrow div {
  background: #33be40; }

/* line 131, /home/andrei/core-admin-release/core-admin/source/stylesheets/validation_engine.scss */
.blackPopup .formErrorArrow div {
  background: #393939;
  color: #FFF; }

/* line 137, /home/andrei/core-admin-release/core-admin/source/stylesheets/validation_engine.scss */
.formError .formErrorArrow .line10 {
  width: 15px;
  border: none; }
/* line 141, /home/andrei/core-admin-release/core-admin/source/stylesheets/validation_engine.scss */
.formError .formErrorArrow .line9 {
  width: 13px;
  border: none; }
/* line 145, /home/andrei/core-admin-release/core-admin/source/stylesheets/validation_engine.scss */
.formError .formErrorArrow .line8 {
  width: 11px; }
/* line 148, /home/andrei/core-admin-release/core-admin/source/stylesheets/validation_engine.scss */
.formError .formErrorArrow .line7 {
  width: 9px; }
/* line 151, /home/andrei/core-admin-release/core-admin/source/stylesheets/validation_engine.scss */
.formError .formErrorArrow .line6 {
  width: 7px; }
/* line 154, /home/andrei/core-admin-release/core-admin/source/stylesheets/validation_engine.scss */
.formError .formErrorArrow .line5 {
  width: 5px; }
/* line 157, /home/andrei/core-admin-release/core-admin/source/stylesheets/validation_engine.scss */
.formError .formErrorArrow .line4 {
  width: 3px; }
/* line 160, /home/andrei/core-admin-release/core-admin/source/stylesheets/validation_engine.scss */
.formError .formErrorArrow .line3 {
  width: 1px;
  border-left: 2px solid #ddd;
  border-right: 2px solid #ddd;
  border-bottom: 0 solid #ddd; }
/* line 166, /home/andrei/core-admin-release/core-admin/source/stylesheets/validation_engine.scss */
.formError .formErrorArrow .line2 {
  width: 3px;
  border: none;
  background: #ddd; }
/* line 171, /home/andrei/core-admin-release/core-admin/source/stylesheets/validation_engine.scss */
.formError .formErrorArrow .line1 {
  width: 1px;
  border: none;
  background: #ddd; }
